@use '../../partials/variables.scss' as *;
@use '../../partials/mixins.scss' as *;

.time-card {
    display: flex;
    flex-direction: column;

    &__wrap-top,
    &__entry {
        display: flex;
        justify-content: space-between;
    }

    &__header,
    &__total-time { 
        @include subheader;
        color: $space-cadet;
    }

    &__taskName,
    &__timer {
        @include labels-links-buttons;
        color: $light-slate-grey;
        font-weight: 400;
    }

    &__hours{
        @include labels-links-buttons;
        color: $light-grey;
        font-weight: 400;
    }
}