@use '../../partials/variables.scss' as *;
@use '../../partials/mixins.scss' as *;

.card {
    margin: 1rem;
}

.time-card {
    display: flex;
    flex-direction: column;

    &__wrap-top { 
        padding-bottom: 1rem;
    }

    &__wrap-top,
    &__entry {
        display: flex;
        justify-content: space-between;
    }

    &__entry { 
        padding: 0.75rem 0 0.25rem 0;
    }

    &__entry + &__entry { 
        border-top: 1px solid $light-grey;
    }

    &__header,
    &__total-time { 
        @include subheader;
        color: $space-cadet;
    }

    &__taskName,
    &__timer {
        @include labels-links-buttons;
        color: $light-slate-grey;
        font-weight: 400;
    }

    &__hours {
        flex-grow: 1;
        text-align: right;
        @include labels-links-buttons;
        color: $light-grey;
        font-weight: 400;
    }

    &__timer { 
        flex-shrink: 1;
        text-align: right;
        padding-left: 2.5rem;
    }
}